# Compiled class files
*.class

# Build output
/out/

# Maven
/target/

# Gradle
/.gradle/

# IDE configs
/.idea/
*.iml
.vscode/

# Eclipse
.classpath
.project
.settings/

# macOS
.DS_Store

# Logs
*.log

env/

# Ignore generated docs
/docs/CLASS_INTERACTIONS.md

/.obsidian/
